Options -Indexes +FollowSymLinks
RewriteEngine On
RewriteBase /gunpla-shop/

# Bỏ qua thư mục public để nhận CSS/JS
RewriteRule ^public/ - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]