<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /gunpla-shop/

    # Chuyển hướng vào thư mục public
    RewriteRule ^$ public/index.php [L]
    RewriteRule ^((?!public/).*)$ public/$1 [L,NC]
</IfModule>